@import url('https://fonts.googleapis.com/css?family=Inconsolata');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.out-wrapper{
    display:flex;
    min-height:100vh;
}
.out-wrapper #main{
    background:#ebebeb;
    max-width:25vw;
    width:100%;
    min-height:100px;
    margin:1em auto;
    padding:1em;
    border-radius:5px;
    align-self: center;
    font-family: 'Inconsolata', monospace;
}